.criacoes {
    width: 100%;
}

.criacoes-title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    h3 {
        font-family: $fonte-02;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
    }

    button {
        font-family: $fonte-02;
        text-transform: uppercase;
        padding: 13px 30px 10px 30px;
        background-color: $branco;
        color: $preto;
        border: 1px solid $preto;
        transition: 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: $preto;
            color: $branco;
        }
    }
}

/////////////////////////////// 

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.container-imagens {
    width: 90%;
    margin: 70px auto;
    position: relative;

    img {
        width: 95%;
        filter: brightness(70%);
        transition: 0.3s ease;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-bottom: 30px;

        &:hover {

            img{
                opacity: 0.5;
            }

            h3 {
                color: $preto;
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    h3 {
        z-index: 1;
        font-family: $fonte-02;
        font-weight: 300;
        font-size: 30px;
        color: $branco;
        transition: 0.3s ease;

        position: absolute;
        top: 350px;
    }

    .h3-li {
        top: 810px;
    }
}

