.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px 20px 0px;
    margin-top: 80px;
    background-color: $preto;
}

.logo-icones {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.logo-footer {
    img {
        width: 130px;
    }
}

.icons-footer {
    ul {
        display: flex;
        align-items: center;
    }

    li + li {
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            bottom: -5px;
            left: 6px;
            background-color: $branco;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

////////////////////////////////// 

.footer-final {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;

    p {
        color: $cinza;
    }

    ul {
        display: flex;
        align-items: center;
    }

    li + li {
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        font-family: $fonte-02;
        font-size: 12px;
        color: $branco;
        position: relative;
        

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -5px;
            left: 0px;
            background-color: $branco;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

// MOBILE

@include responsive(mobile) {

    .footer {
        position: relative;
        margin-top: 140px;
        
    }
    
    .logo-icones {
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo-footer {
        width: 130px;
        padding: 0px 100px;
    }

    .icons-footer {
        margin-top: 280px;
    }

    .footer-final {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .container-ul {
        position: absolute;
        top: 90px;
        left: 50%;
        right: 50%;
        
        ul {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 20px auto;
        } 
        
        li + li {
            margin-top: 25px;
            margin-left: 0px;
        }

        a {
            font-size: 16px;
        }
    }

    .container-p {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
}