.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-sobre {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0px;
    position: relative;
}

.img-pessoa {

    img {
        width: 65%;
    }
}

.carta-sobre {
    position: absolute;
    width: 450px;
    padding: 70px 0px 70px 70px;
    top: 330px;
    right: 0;
    background-color: $branco;

    h2 {
        font-family: $fonte-02;
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        font-family: $fonte-02;
        letter-spacing: 1px;
        right: 0;
    }
}

// MOBILE

@include responsive(mobile) {

    .sobre {
        padding-top: 10em;
    }

    .container-sobre{
        width: 90%;
        padding-bottom: 100px;
        padding: 0px;
        margin: 0px;
        position: static;
    }

    .img-pessoa {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .carta-sobre {
        width: 300px;
        position: static;
        top: 0;
        right: 0;
        padding: 0;
        margin: 50px auto 150px auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        

        h2 {
            font-family: $fonte-02;
            font-size: 38px;
            font-weight: 400;
            margin-bottom: 30px;
        }
    
        p {
            font-size: 16px;
            font-weight: 300;
        }
    }
}