.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-sobre {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0px;
    position: relative;
}

.img-pessoa {

    img {
        width: 65%;
    }
}

.carta-sobre {
    position: absolute;
    width: 450px;
    padding: 70px 0px 70px 70px;
    top: 330px;
    right: 0;
    background-color: $branco;

    h2 {
        font-family: $fonte-02;
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        font-family: $fonte-02;
        letter-spacing: 1px;
        right: 0;
    }
}
