/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.introducao {
  background-image: url("../../img/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.navegacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  padding: 40px 0px;
  width: 80%;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li + li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  position: relative;
}

.nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.carta-introducao {
  width: 100%;
  height: 70vh;
}

.carta-introducao-carta {
  border: 2px solid white;
  margin: 100px auto 100px 10%;
  padding: 40px 0px;
  max-width: 600px;
}

.carta-introducao-carta p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  color: white;
  text-transform: uppercase;
  padding: 0px 10px 0px 30px;
}

@media screen and (max-width: 450px) {
  .introducao {
    background-image: url("../../img/img-mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .navegacao {
    padding: 40px 0px;
    width: 90%;
  }
  .nav {
    display: none;
  }
  .carta-introducao {
    width: 100%;
    height: 60vh;
  }
  .carta-introducao-carta {
    border: 2px solid white;
    margin: 13em auto 10em auto;
    padding: 40px 0px;
    max-width: 365px;
  }
  .carta-introducao-carta p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding: 0px 10px 0px 30px;
  }
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container-sobre {
  width: 80%;
  margin: 0 auto;
  padding: 120px 0px;
  position: relative;
}

.img-pessoa img {
  width: 65%;
}

.carta-sobre {
  position: absolute;
  width: 450px;
  padding: 70px 0px 70px 70px;
  top: 330px;
  right: 0;
  background-color: white;
}

.carta-sobre h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.carta-sobre p {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  right: 0;
}

@media screen and (max-width: 450px) {
  .sobre {
    padding-top: 10em;
  }
  .container-sobre {
    width: 90%;
    padding-bottom: 100px;
    padding: 0px;
    margin: 0px;
    position: static;
  }
  .img-pessoa {
    width: 100%;
  }
  .img-pessoa img {
    width: 100%;
  }
  .carta-sobre {
    width: 300px;
    position: static;
    top: 0;
    right: 0;
    padding: 0;
    margin: 50px auto 150px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
  }
  .carta-sobre h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .carta-sobre p {
    font-size: 16px;
    font-weight: 300;
  }
}

.criacoes {
  width: 100%;
}

.criacoes-title-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.criacoes-title-button h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.criacoes-title-button button {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 13px 30px 10px 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.criacoes-title-button button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.imagens {
  width: 80%;
  margin: 50px auto;
}

.container-imagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-imagens .img {
  height: 67vh;
  width: 230px;
  padding-left: 20px;
  margin-bottom: 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container-imagens .img:hover {
  cursor: pointer;
}

.container-imagens .img:hover h3 {
  color: black;
}

.container-imagens .img h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 12em;
  color: white;
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .imagens {
    width: 90%;
  }
  .container-imagens .img {
    height: 14.5vh;
    width: 100%;
    margin-bottom: 23px;
    background-size: 100%;
  }
  .container-imagens .img h3 {
    margin-top: 2.5em;
  }
  .criacoes-title-button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .criacoes-title-button button {
    position: absolute;
    top: 91em;
  }
}

.terra {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-deep-earth.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.terra:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-deep-earth.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

.jogos {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-night-arcade.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.jogos:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-night-arcade.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

.futebol {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-soccer-team.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.futebol:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-soccer-team.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

.corrida {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-grid.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.corrida:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-grid.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

.estrada {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-from-above.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.estrada:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-from-above.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

.aurora {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-pocket-borealis.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.aurora:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-pocket-borealis.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

.robo {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-curiosity.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.robo:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-curiosity.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

.olho {
  background: rgba(0, 0, 0, 0.35) url("../../img/image-fisheye.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.olho:hover {
  background: rgba(255, 255, 255, 0.35) url("../../img/image-fisheye.jpg");
  background-size: 100%;
  background-blend-mode: exclusion;
}

/*
        MOBILE 
                    */
@media screen and (max-width: 450px) {
  .terra {
    background-image: url("../../img/img-mobile/image-deep-earth.jpg");
    background-size: 100% 100%;
  }
  .terra:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-deep-earth.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
  .jogos {
    background-image: url("../../img/img-mobile/image-night-arcade.jpg");
    background-size: 100% 100%;
  }
  .jogos:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-night-arcade.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
  .futebol {
    background-image: url("../../img/img-mobile/image-soccer-team.jpg");
    background-size: 100% 100%;
  }
  .futebol:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-soccer-team.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
  .corrida {
    background-image: url("../../img/img-mobile/image-grid.jpg");
    background-size: 100%;
  }
  .corrida:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-grid.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
  .estrada {
    background-image: url("../../img/img-mobile/image-from-above.jpg");
    background-image: 100% 100%;
  }
  .estrada:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-from-above.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
  .aurora {
    background-image: url("../../img/img-mobile/image-pocket-borealis.jpg");
    background-size: 100% 100%;
  }
  .aurora:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-pocket-borealis.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
  .robo {
    background-image: url("../../img/img-mobile/image-curiosity.jpg");
    background-size: 100% 100%;
  }
  .robo:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-curiosity.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
  .olho {
    background-image: url("../../img/img-mobile/image-fisheye.jpg");
    background-size: 100% 100%;
  }
  .olho:hover {
    background: rgba(255, 255, 255, 0.35) url("../../img/img-mobile/image-fisheye.jpg");
    background-size: 100% 100%;
    background-blend-mode: exclusion;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px 0px 20px 0px;
  margin-top: 80px;
  background-color: black;
}

.logo-icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.logo-footer img {
  width: 130px;
}

.icons-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-footer li + li {
  margin-left: 10px;
}

.icons-footer a {
  text-decoration: none;
  position: relative;
}

.icons-footer a::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -5px;
  left: 6px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.icons-footer a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}

.footer-final p {
  color: #8c8c8c;
}

.footer-final ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-final li + li {
  margin-left: 10px;
}

.footer-final a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  color: white;
  position: relative;
}

.footer-final a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-final a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 450px) {
  .footer {
    position: relative;
    margin-top: 140px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo-icones {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo-footer {
    margin: 0px 40px 40px 40px;
  }
  .icons-footer {
    margin-top: 250px;
  }
  .footer-final {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-ul {
    position: absolute;
    top: 90px;
    left: 174px;
  }
  .container-ul ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px auto;
  }
  .container-ul li + li {
    margin-top: 25px;
    margin-left: 0px;
  }
  .container-ul a {
    font-size: 16px;
  }
  .container-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */