/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.introducao {
  background-image: url("../../img/image-hero.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.navegacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  padding: 40px 0px;
  width: 80%;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li + li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  position: relative;
}

.nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.carta-introducao {
  width: 100%;
  height: 70vh;
}

.carta-introducao-carta {
  border: 2px solid white;
  margin: 100px auto 100px 10%;
  padding: 40px 0px;
  max-width: 600px;
}

.carta-introducao-carta p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  color: white;
  text-transform: uppercase;
  padding: 0px 10px 0px 30px;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container-sobre {
  width: 80%;
  margin: 0 auto;
  padding: 120px 0px;
  position: relative;
}

.img-pessoa img {
  width: 65%;
}

.carta-sobre {
  position: absolute;
  width: 450px;
  padding: 70px 0px 70px 70px;
  top: 330px;
  right: 0;
  background-color: white;
}

.carta-sobre h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.carta-sobre p {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  right: 0;
}

.criacoes {
  width: 100%;
}

.criacoes-title-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.criacoes-title-button h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.criacoes-title-button button {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 13px 30px 10px 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.criacoes-title-button button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.imagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

.container-imagens {
  width: 90%;
  margin: 70px auto;
  position: relative;
}

.container-imagens img {
  width: 95%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container-imagens ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-imagens li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-bottom: 30px;
}

.container-imagens li:hover img {
  opacity: 0.5;
}

.container-imagens li:hover h3 {
  color: black;
  opacity: 1;
  cursor: pointer;
}

.container-imagens h3 {
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  top: 350px;
}

.container-imagens .h3-li {
  top: 810px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px 0px 20px 0px;
  margin-top: 80px;
  background-color: black;
}

.logo-icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.logo-footer img {
  width: 130px;
}

.icons-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-footer li + li {
  margin-left: 10px;
}

.icons-footer a {
  text-decoration: none;
  position: relative;
}

.icons-footer a::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -5px;
  left: 6px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.icons-footer a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}

.footer-final p {
  color: #8c8c8c;
}

.footer-final ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-final li + li {
  margin-left: 10px;
}

.footer-final a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  color: white;
  position: relative;
}

.footer-final a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-final a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=style.css.map */